/* --text: hsl(30, 17%, 2%);
--background: hsl(45, 20%, 96%);
--primary: hsl(39, 96%, 48%);
--secondary: hsl(148, 96%, 48%);
--accent: hsl(240, 27%, 41%);*/
/* Shades */
/* use 10%, 20% etc */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    background-color: hsl(45, 20%, 96%);
    
}


h1{
    font-size: 2.125rem;
    font-weight: 700;
    color: #f7f7f7;
    margin-bottom: 15px;
}
h2{
    
    font-size: 2.1rem;
    font-weight: 600;
    padding-bottom: 15px;
    margin-left: 10px;
    
}
h3{
    font-size: 1.35rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000;
}
section{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 20px;
}
i {
    cursor: pointer;
}
/* Nav styling */
.banner{
    position: relative;
}
.nav--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #010302;
    color: #f7f7f7;
    padding: 20px;
    width: 100%;
}
.nav--container a {
    color: #f7f7f7;
    
}
.nav--container li:hover{
    opacity: .7;
    cursor: pointer;
}
.nav--container li {
    display: inline;
    margin-right: 15px;
}
.nav--container li:last-child {
    
        background: hsl(39, 96%, 48%);
        color: #010302;
        padding: 10px 10px;
        border-radius: 30px;
        
    
}
/* saved recipes styling */
.saved--recipes--container.active{
    width: 30%;
    background-color: hsl(148, 96%, 80%);
    position: absolute;
    right: 0;
    height: 60vh;
    display: block;
    z-index: 1;

}
.saved--recipes--container{
    width: 30%;
    position: absolute;
    right: 0;
    height: 60vh;
    padding: 20px;
    display: none;

}
.saved--recipes--container a:hover{
    color: hsl(240, 27%, 41%);
}
.saved--recipes--container ul{
    list-style: none;
}
.saved--recipes--container li{
    display: flex;
    justify-content: space-between;
}
.saved--heading{
    font-size: 1.45rem;
    margin: 0;
}



/* hero styling */
section.hero{
    text-align: center;
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url(./images/overhead-view-vegetables-black-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.hero input{
    padding: 10px 0;
    width: 85%;
    
    font-size: inherit;
    font-family: inherit;
    text-indent: 10px;
}
.hero input:focus{
    outline: none;
}.results--heading{
    display: none;
}
.search--container{
    width: 474px;
    /* max-width: 35%; */
    position: relative; 
}
.search--info{
    font-size: 1.3rem;
    margin-top: 10px;
    color: hsl(39, 96%, 48%);
}
.hero button{
    cursor: pointer;
    background: #fff;
    position: absolute;
    right: 43px;
    top: 72px;
    border: none;
    padding: 10px;
}
.hero button:hover{
    opacity: .7;
    scale: 1;
}

.filter--container{
    display: flex;
    align-items: center; 
}
.filter--label{
    margin-right: 10px;
}
input[type=radio]{
    accent-color: hsl(240, 27%, 41%);
}

.hero fieldset{
    display: flex;
    justify-content: space-around ;
    width: 85%;
    margin: 10px auto;
    color: #fff;
    
}
/* Popular dishes  */
.popular{ 
    position: relative;
}
 
.grid{  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    justify-items: center;
    
}
.recipe--card{
    
    /* width: 70%; */
    box-shadow: 10px 20px 10px rgba(0, 0, 0, .2);
    /* height: 360px; */
    background-color: hsl(148, 74%, 49%, 20%);
     display: flex;
   flex-direction: column;
   grid-column: span 2;
   border-radius: 20px;
   transition: all 0.2s ease-in-out;
    
}
.recipe--card:hover{
    scale: 102%;
}
.recipe--image{
    width: 100%;   
}
.grid img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 100%;  
}
.recipe--information{
    padding: 10px 10px 10px;
    margin-top: auto;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.recipe--card h3{
    margin-inline: 15px;
    line-height: 1.3;
    margin-bottom: 10px;
}


.cuisine--type{
    font-size: inherit;
    font-family: inherit;
    
    
}
.clock {
    color: #fab64f;
    
}

/* Recipe Styling */
.recipe--title{
<<<<<<< HEAD
    color: hsl(0, 0%, 0%);
=======
    color: #000;
>>>>>>> 0d77ece1af96944df1905a743b342b77046d2142
}
.recipe--content{
    border: 2px solid;
    width: 80%;
    margin: 15px auto;
    padding: 30px;
}
.summary--container{
    width: 75%;
    font-size: 1.15rem;
    line-height: 1.75;
}
.directions--container{
    padding: 20px 0 ;
    width: 65%;
    
}
.directions {
    padding: 30px;
    background-color: hsla(148, 100%, 38%, 30%);
    line-height: 1.75;
    border-radius: 20px;

    
}
.ingredients--container {
    padding: 20px 0 ;
    width: 65%;
}
.ingredients{
background-color: hsl(39, 96%, 48% , 30%);
line-height: 1.75;
padding: 30px;
border-radius: 20px;
}
.directions li, .ingredients li {
    margin-bottom: 10px;
    letter-spacing: .9px;
    
}

.directions li::marker, .ingredients li::marker  {
	font-size: 20px;
	color: hsl(240, 27%, 41%);
	font-weight: 600;
}

.image--container{
    width: 60%;
    margin: 0 auto;
}
.image--container > img{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.cooking--info--grid{
    width: 60%;
    margin: 15px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    
}

.cooking--info ul {
    display: flex;
    list-style: none;
    
    justify-content: space-between;
}

.recipe--content h3{
    margin-bottom: 15px;
    font-size: 1.45rem;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 535px ){
    section.hero{
        height: 55vh;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .nav--container{
        justify-content: stretch;
        padding: 10px;
        font-size: .88rem;
    }
    .logo--container{
        margin-right: auto;
    }
    .nav--container li:last-child{
        padding: 6px;
        margin: 0;
    }
    .search--container{
        width: 367px;
        max-width: 87%;
    }
    .hero input{
        width: 100%;
    }
    .hero fieldset{
        width: 100%;
        flex-wrap: wrap;
    }
    input[type=radio]{
        transform: scale(1.5);
    }
    .hero button{
        right: 1px;
        top: 72px;
    }
    .recipe--card{
        grid-column: span 2;
    }
    section{
        width: 94%;
        
    }
    /* recipe page media queries */
    .recipe--content{
       width: 100%; 
       padding: 10px;
       border: none;
    }
    .image--container{
        width: 100%;
    }
    .summary--container{
        width: 100%;
        font-size: inherit;
    }
    .ingredients--container, .directions--container{
        width: 100%;
    }
    .cooking--info--grid{
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
}
@media (min-width: 800px) and (max-width: 999px ){
    .image--container{
        width: 100%;
    }
    .directions--container, .ingredients--container{
        width: 85%;
    }
}
@media (min-width: 1000px ){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        
    }
    .hero input, .hero fieldset{
        width: 100%;
    }
    .hero button {
        right: 2px;
    }
}
  

